.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua  ;
    padding-left: 20px;
    padding-right: 20px;
}

.right-box{
    display: flex;
    gap: 40px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    
}

a{
    text-decoration: none;
}